.artist-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.app {
  position: relative;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
